.card-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%);
  width: 600px;
  height: auto;
  background-color: rosybrown;
  border-radius: 10px;
  box-shadow: 0px 30px 60px rgb(0,0,0);
}

.card-body h1{
  text-align: center;
  padding:  0 0 20px 0;
  text-decoration: underline;
  color: #fff;
}

.card-body form{
  padding: 0 40px;

}

form .text-field{
  position: relative;
  border-bottom: 2px solid lightgray;
  margin: 30px 0px;

}
.text-field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
  color: #fff; 
  resize: none; 
}
.text-field textarea{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 18px;
  outline: none;
  border: none;
  background: none;
  color: #fff; 
  resize: none; 
}


.text-field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: darkslateblue;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: all .5s;

}

.text-field span::before{
  content: '';
  position: absolute;
  width: 0%;
  top: 40px;
  left: 0;
  height: 2px;
  background-color: darkblue;
  transition: all .5s;
}
.text-field .textarea_span::before{
  top: 107px;
}

.text-field input:focus ~label, .text-field input:valid ~label{
  top: -5px;
}

.text-field input:focus ~ span::before, .text-field input:valid ~ span::before{
  width: 100%; 

}

.text-field textarea:focus ~ .textarea_label, .text-field textarea:valid ~ .textarea_label{
  top:-16px;}
  .text-field textarea:focus ~ .textarea_span, .text-field textarea:valid ~ .textarea_span::before{
    width: 100%;}
.button{
  text-align:center;
  font-size: 15px;
  margin-bottom:10px;
}
.button button [type=submit]{
  padding: 8px;
  width: 80px;
  color: #fff;
  background-color: rgb(40, 27, 223);
  outline: none;
  border: none;
  transition: all 0.5s;
  font-weight: bolder;
}

.button button[type=submit]:hover{
  background-color: rgba(40, 27, 233, 0.5);
  cursor:pointer;
}